
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 400;
}


h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
}


h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: italic;
    font-weight: 400;
}
